body {
    background-image: url(../assets/img/galaxie.png);
}

h1 {
    color: yellow;
    text-align: center;
    text-shadow: 0 0 15px #ffe81f;
}

.container_title {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container_table {
    display: flex;
    justify-content: center;
    align-items: center;
}


table {
    width: 80%;
    color: yellow;
}

table th {
    border: solid 2px white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

td {
    background-color: rgba(255, 255, 255, 0.2);
    border: solid 2px white;
    text-align: left;
    padding: 15px;
    text-align: center;
    border-radius: 10px;


}

td:not(:nth-of-type(4n), :nth-of-type(1)) {
    vertical-align: top;
}

.td_profil {
    width: 15%;
}

.td_description {
    width: 60%;
    padding: 20px;
}

.td_description p {
    font-weight: bold;
    line-height: 1.8;
    text-align: justify;

    transform: perspective(400px) rotateX(35deg);
    transform-origin: bottom center;

    text-shadow: 0 0 5px #ffe81f;
}

td:nth-of-type(3n),
td:nth-of-type(4n) {
    width: 15%;
}

td img {

    border-radius: 5%;
    cursor: pointer;
    width: 150px;
}

.div-audio {
    height: 20%;
}

.div-audio audio {
    height: 20px;
    width: 150px;
    color: yellow;
}

a {
    color: red;
}

ul {
    text-align: left;
    padding-left: 10px;
}

td:nth-of-type(4n) {
    vertical-align: bottom;
    text-align: center;

}

.cell-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.midichloriens {
    width: 10px;
    height: 200px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.midichloriens div {
    width: 100%;
    background: yellow;
}

#midi_vador div {
    height: 80%;
}

#midi_luke div {
    height: 60%;
}

#midi_dooku div {
    height: 40%;
}

#midi_obiwan div {
    height: 40%;
}

#midi_mace div {
    height: 20%;
}

.div_profil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}