<p>{{ title }}</p>

<div>
  <input type="text" [(ngModel)]="title" />
</div>

<div>
  <button (click)="changeTitle()">Le bouton</button>
</div>

<hr />

<select [(ngModel)]="couleur">
  <option value="black">Noire</option>
  <option value="blue">Bleu</option>
  <option value="red">Rouge</option>
  <option value="pink">Rose</option>
  <option value="#d06fa5">Rose flashy</option>
</select>

<input type="color" [(ngModel)]="couleur" />

<p [ngStyle]="{ 'color': couleur }">Mon paragraphe en couleur {{ couleur }}</p>
<p [style.color]="couleur">Mon paragraphe en couleur {{ couleur }}</p>

<hr />

<p>Le todo = {{ todo.title }}</p>
<input type="text" [(ngModel)]="todo.title">

<p *ngIf="demoBoolean">BOOLEAN TRUE</p>

<ul>
  <li *ngFor="let str of demoFor">{{ str }}</li>
</ul>
