<p>{{ title }}</p>

<div>
  <input type="text" [(ngModel)]="title" />
</div>

<div>
  <button (click)="changeTitle()">Le bouton</button>
</div>

<hr />

<select [(ngModel)]="couleur">
  <option value="black">Noire</option>
  <option value="blue">Bleu</option>
  <option value="red">Rouge</option>
  <option value="pink">Rose</option>
  <option value="#d06fa5">Rose flashy</option>
</select>

<input type="color" [(ngModel)]="couleur" />

<p [ngStyle]="{ 'color': couleur }">Mon paragraphe en couleur {{ couleur }}</p>
<p [style.color]="couleur">Mon paragraphe en couleur {{ couleur }}</p>

<hr />

<p *ngIf="demoBoolean">BOOLEAN TRUE</p>

<ul>
  <li *ngFor="let str of demoFor">{{ str }}</li>
</ul>

<hr />

<div>
  <input type="number" [(ngModel)]="formTodo.id" />
  <input type="text" [(ngModel)]="formTodo.title" />
  <input type="checkbox" [(ngModel)]="formTodo.completed" />

  <input type="radio" name="complet" [value]="false" [(ngModel)]="formTodo.completed" />
  <input type="radio" name="complet" [value]="true" [(ngModel)]="formTodo.completed" />

  <button (click)="ajouterTodo()">Ajouter</button>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Complet ?</th>
      <th>Complet (2) ?</th>
      <th>Complet (3) ?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{ todo.id }}</td>
      <td>{{ todo.title }}</td>

      <td *ngIf="todo.completed">OUI</td>
      <td *ngIf="!todo.completed">NON</td>

      <td>
        {{ todo.completed ? 'OUI' : 'NON' }}
      </td>

      <td>
        @if (todo.completed) {
          OUI
        }

        @else {
          NON
        }
      </td>

      <td>
        <button (click)="supprimerTodo(todo)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>

<hr />

<app-premier-composant [prenom]="title">
  <div>CE QUE JE VEUX COMME ELEMENTS</div>
  <div>AUTRE CHOSE</div>
</app-premier-composant>
