<h1>Todo List</h1>

<div>
  <input type="number" [(ngModel)]="formTodo.id" />
  <input type="text" [(ngModel)]="formTodo.title" />
  <input type="checkbox" [(ngModel)]="formTodo.completed" />

  <input type="radio" name="complet" [value]="false" [(ngModel)]="formTodo.completed" />
  <input type="radio" name="complet" [value]="true" [(ngModel)]="formTodo.completed" />

  <button (click)="ajouterTodo()">Ajouter</button>
</div>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Titre</th>
      <th>Complet ?</th>
      <th>Complet (2) ?</th>
      <th>Complet (3) ?</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{ todo.id }}</td>
      <td>{{ todo.title }}</td>

      <td *ngIf="todo.completed">OUI</td>
      <td *ngIf="!todo.completed">NON</td>

      <td>
        {{ todo.completed ? 'OUI' : 'NON' }}
      </td>

      <td>
        @if (todo.completed) {
          OUI
        }

        @else {
          NON
        }
      </td>

      <td>
        <button (click)="supprimerTodo(todo)">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>
