<h1>Liste des matières</h1>

<form (submit)="addOrUpdate()" [formGroup]="formMatiere">
  <div>
    <input type="text" formControlName="libelle" />
  </div>

  <div *ngIf="formMatiere.get('libelle')?.dirty && formMatiere.get('libelle')?.hasError('required')">
    Le message d'erreur comme quoi le libellé est obligatoire !!
  </div>

  <div *ngIf="formCtrlLibelle.dirty && formCtrlLibelle.hasError('required')">
    Le message d'erreur comme quoi le libellé est obligatoire !!
  </div>

  <div>
    <input [disabled]="formMatiere.invalid" type="submit" [value]="editingMatiereId ? 'Modifier' : 'Ajouter'" />
  </div>
</form>

<hr />

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Libellé</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let matiere of matieres$ | async">
      <td>{{ matiere.id }}</td>
      <td>{{ matiere.libelle }}</td>
      <td>
        <button (click)="edit(matiere)">MODIFIER</button>
        <button (click)="remove(matiere)">SUPPRIMER</button>
      </td>
    </tr>
  </tbody>
</table>
